a {
  cursor: pointer;
}

.thumbnailPic{
  border-radius: 20%;
  margin-right: 1rem;
}

.friendLi {
  list-style: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.friendsLink {
  text-decoration: none;
  border-radius: 1rem;
}