a {
  cursor: pointer;
}

.thumbnail-pic{
  border-radius: 20%;
  margin-right: 1rem;
}

.friend-li {
  list-style: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.friends-link {
  text-decoration: none;
  border-radius: 1rem;
}