@import "styles/friends";
@import "styles/habits";
@import "styles/home";
@import "styles/tasks";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primary: #D7E8F7;
$secondary: #b0bfcc;

.text-color {
  color: #000000;
}

.comp-color {
  background-color: $primary;
  border: solid 5px $secondary;
}

html, .bg-color {
  background-color: whitesmoke;
  height: 100vh;
}





@import '~bootstrap/scss/bootstrap'